.body{
    background-image: url("palmtrees.jpg");
}
.calc{
    position: absolute;
    background-color: red;
    width: 300px;
    height: 350px;
}
#disp{
    display: block;
    height: 52px;
    background-color: pink;
    margin: 8px;
}
.calc button{
    height: 45px;
    width: 50px;
    background-color: teal;
    margin: 5px 5px 5px 15px;
}
#ans{
    width: 270px;
}
.container{
    padding: 0px 0px 0px 0px;
}
.flex-container{
    display: flex;
    height:56vh;
    margin-left: 0px;
}
.flex-items{
    margin: auto;
}